@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .page {
        min-width: 1024px;
        max-width: 1280px;
        width: 100%;
    }

    .header {
        width: 90%;
    }

    .lead {
        width: 90%;
        margin-top: 48px;
    }

    .lead__subtitle {
        margin-bottom: 56px;
    }

    .lead__image {
        max-width: 928px;
    }

    .lead__caption {
        width: 928px;
    }

    .intro {
        margin-left: calc((100% - 928px)/2);
        width: 80%;
    }

    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 14px;
        width: 90%;
        min-width: 928px;
        max-width: 1184px;
    }

    .places {
        max-width: 928px;
    }

    .place {
        min-height: 564px;
    }


    .place__image {
        min-height: 440px;
    }

    .cover {
        max-height: 740px;
        min-height: 640px;
        max-width: 1024px;
        width: 90%;

    }

    .cover__overlay {
        width: 100%;
        height: 100%;
        max-height: 740px;
        min-height: 640px;
    }

    .cover__image {
        width: 100%;
        height: 100%;
        max-height: 740px;
        min-height: 640px;
    }

    .footer {
        max-width: 928px;
    }


}