.lead__subtitle {
    color: white;
    font-size: 30px;
    line-height: 36px;
    max-width: 640px;
    min-height: 72px;
    font-weight: 400;
    margin-bottom: 64px;
    text-align: center;
    margin-top: 0;
    width: 70%;
}