.card__button-like-container {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
}

.card__button-like-count {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000
}