@media screen and (min-width: 768px) and (max-width: 1024px) {
    .page {
        min-width: 768px;
        max-width: 1024px;
    }

    .header {
        max-width: 720px;
    }

    .lead {
        width: 100%;
        margin-top: 48px;
    }

    .lead__title {
        width: 90%;
    }

    .lead__subtitle {
        margin-bottom: 56px;
        width: 80%;
    }

    .lead__image {
        max-width: 768px;
        max-height: 480px;
        width: 100%;
    }

    .lead__caption {
        width: 720px;
    }

    .intro {
        margin-top: 88px;
        margin-left: auto;
        margin-right: auto;
        max-width: 720px;
        width: 90%;
    }

    .photo-grid {
        margin-top: 88px;
        margin-right: auto;
        margin-left: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 16px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .places {
        max-width: 720px;
        margin-top: 88px;
    }

    .place {
        min-height: 434px;
        margin-bottom: 73px;
    }


    .place__title {
        font-size: 42px;
        font-weight: 900;
        line-height: 46px;
    }

    .place__image {
        min-height: 340px;
    }

    .place__url-heading-spetial {
        margin-top: 46px;
    }

    .place__url-heading {
        margin-top: 0;
    }

    .place__paragraph {
        font-size: 16px;
        margin-bottom: 25px;
    }

    .cover {
        height: 480px;
        max-width: 768px;
    }

    .footer {
        max-width: 720px;
        margin: 88px auto 24px auto;
    }


}