@media screen and (min-width: 768px) and (max-width: 1024px) {
    .page {
        min-width: 768px;
        max-width: 1024px;
        width: 100%;
    }

    .header {
        width: 90%;

    }

    .lead {
        width: 90%;
        margin-top: 48px;
    }

    .lead__title {
        width: 90%;
        max-width: 720px;
    }

    .lead__subtitle {
        margin-bottom: 56px;
        width: 80%;
        max-width: 640px;
    }

    .lead__image {
        width: 100%;
    }

    .lead__caption {
        width: 95%;
    }

    .intro {
        margin-top: 88px;
        margin-left: auto;
        margin-right: auto;
        max-width: 720px;
        width: 90%;
    }

    .photo-grid {
        margin-top: 88px;
        margin-right: auto;
        margin-left: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 16px;
        width: 94%;
        min-width: 720px;
        max-width: 928px;

    }

    .places {
        width: 90%;
        margin-top: 88px;
    }

    .place {
        min-height: 434px;
        margin-bottom: 73px;
    }


    .place__title {
        font-size: 42px;
        font-weight: 900;
        line-height: 46px;
    }

    .place__image {
        min-height: 340px;
    }

    .place__url-heading-spetial {
        margin-top: 46px;
    }

    .place__url-heading {
        margin-top: 0;
    }

    .place__paragraph {
        font-size: 16px;
        margin-bottom: 25px;
    }

    .cover {
        width: 100%;
        max-height: 640px;
        min-height: 480px;
    }

    .cover__overlay {
        width: 100%;
        height: 100%;
        max-height: 640px;
        min-height: 480px;
    }

    .cover__image {
        width: 100%;
        height: 100%;
        max-height: 640px;
        min-height: 480px;
    }

    .footer {
        max-width: 720px;
        margin: 88px auto 24px auto;
    }


}